/JavaApplication86/nbproject/private/
/JavaTutorialConstructor/nbproject/private/
/JavaTutorialConstructor/build/
/JavaTutorialConstructor/dist/
/NestedClass/nbproject/private/
/NestedClass/build/
/ClassExample/nbproject/private/
/ClassExample/build/
/ClassExample/dist/
/ObjectClassesExample/nbproject/private/
/ObjectClassesExample/build/